$card-current-z-index: 3;
$card-current-info-z-index: 2;
$card-offset-1-z-index: 1;
$card-offset-2-z-index: 0;

// Contains generalized styling for any kind of grid/detail grid. Not really card specific.
// Application-specific styling is below.
nr-cards-view {
  @mixin scaled-card($scale) {
    width: $card-width * $scale;
    height: $card-height * $scale;

    img {
      border-radius: 16px * $scale;
      box-shadow: 0px 1px * $scale 6px * $scale rgba(0, 0, 0, 0.3);
    }

    .background {
      border-radius: 16px * $scale;
    }
  }

  display: block; // Browsers don't (always?) assume block display on a custom tag
  user-select: none; // Selection is mighty fucked up if we leave it on, because we re-order all the cards

  .content-container {
    position: relative;
    margin: 0 10px;
    position: relative; // Grid items are absolutely positioned, so we need this
  }

  .grid-header, .grid-item {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hidden {
    display: none;
  }

  .grid-header {
    width: 100%;
  }

  .grid-item {
    @include scaled-card(1);
    transform-origin: 0 0;
    perspective: 1000px;
    transform-style: preserve-3d;

    img {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: auto;
      transform-origin: 0 0;
    }

    .background {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: 0 0;
      background: white;
    }
  }

  // ~-~-~- DOWNSCALING

  &.downscaled-1-2 .grid-item {
    @include scaled-card(1 / 2);
  }

  &.downscaled-1-3 .grid-item {
    @include scaled-card(1 / 3);
  }

  &.downscaled-1-4 .grid-item {
    @include scaled-card(1 / 3);
  }

  // ~-~-~- TRANSITIONED MODE

  &.transitioned {
    .grid-item, .grid-header, .grid-item img, .grid-item .background {
      transition: 0.2s ease-in-out transform,
                  0.2s ease-in-out opacity;
    }
  }

  // ~-~-~- DETAILED CARD MODE

  .grid-item.current {
    z-index: $card-current-z-index !important;

    img {
      opacity: 1;
      transform: translateZ(1px) rotateY(0deg);
    }

    .background {
      transform: rotateY(0deg);
    }
  }

  .grid-item.prev {
    img {
      transform: translateZ(1px) rotateY(40deg);
    }

    .background {
      transform: rotateY(40deg);
    }
  }

  .grid-item.next {
    transform-origin: 100% 0;

    img {
      transform-origin: 100% 0;
      transform: translateZ(1px) rotateY(-40deg);
    }

    .background {
      transform-origin: 100% 0;
      transform: rotateY(-40deg);
    }
  }

  .grid-item.prev-1, .grid-item.next-1 {
    z-index: $card-offset-1-z-index !important;

    img {
      opacity: 0.9;
    }
  }

  .grid-item.prev-2, .grid-item.next-2 {
    z-index: $card-offset-2-z-index !important;

    img {
      opacity: 0.7;
    }
  }
}
