.cards {
  margin-bottom: 20px;

  .selected-card-container {
    $selected-card-width: 660px;

    position: absolute;
    width: $selected-card-width;
    height: 100%;

    // Center the div
    left: 50%;
    margin-left: -($selected-card-width / 2);

    .selected-card {
      position: fixed;

      width: $selected-card-width;
      height: 100%;
      padding: 9px 18px;

      z-index: $card-current-info-z-index;
      background: rgba(255, 255, 255, 0.8);

      h2.card-name {
        margin-bottom: 22px;

        .close {
          opacity: 0.3;
          line-height: 28px;
          font-weight: 200;

          &:hover {
            opacity: 0.5;
          }
        }

        .favourite {
          position: relative;
          top: -2px;
          left: 4px;

          color: #ccc;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: #999;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
          }

          &.on {
            color: #ffd76e;
            -webkit-text-stroke: 1px #e9c15a;
            &.hover {
              color: #ffd76e;
            }
          }
        }
      }

      .info {
        width: 310px;
        height: 418px;
        float: right;
        user-select: all;

        .info-nav {
          position: absolute;
          top: 51px;
          right: 27px;
        }

        label {
          color: #777;
          margin: 0;
        }

        .info-row {
          margin: 5px 0;

          > label {
            width: 90px;
            float: left;
          }

          &:first-child {
            margin-top: 0;
          }
        }

        small {
          margin-left: 3px;
        }

        .short-cards {
          color: #b94a48;
        }

        .links {
          @extend .list-unstyled;
          font-size: 0.9em;
          clear: both;
          margin-top: 20px;

          li {
            margin: 5px 0;
          }

          i {
            margin-right: 6px;
          }
        }
      }

      .card-count {
        position: fixed;
        bottom: 10px;
        // [todo] This will have to change when we have optional sidebars
        left: $sidebar-width;
        right: 0;
        text-align: center;
        color: #777;
      }
    }
  }

  h2 {
    // ~-~-~- MIXINS

    $underline-opacity: 0.3;
    $nav-border-opacity: 0.5;

    @mixin faction-nav($color) {
      $border-color: transparentize($color, (1 - $nav-border-opacity));

      .nav-tabs > li.active {
        a, a:focus {
          border-color: $border-color;
          border-bottom-color: transparent;
        }

        a:hover {
          border-color: $border-color;
          border-bottom: 1px solid white;
        }
      }
    }

    @mixin faction-header($color) {
      color: $color;
      border-bottom: 1px solid transparentize($color, (1 - $underline-opacity));

      @include faction-nav($color);
    }


    // ~-~-~- BASE STYLES

    padding: 5px 7px;
    margin: 0;

    font-size: 23px;
    font-weight: 200;
    letter-spacing: 0.4px;

    @include faction-header($neutral-color);


    // ~-~-~- FACTION COLORING

    $factions: haas-bioroid $haas-bioroid-color,
               jinteki $jinteki-color,
               nbn $nbn-color,
               weyland $weyland-color,
               anarch $anarch-color,
               criminal $criminal-color,
               shaper $shaper-color;

    @each $f in $factions {
      &.#{ nth($f, 1) } {
        @include faction-header(nth($f, 2));
      }
    }


    // ~-~-~- ANCILLARY INFO

    small {
      font-weight: 200;
    }

    small.secondary-group {
      margin-left: 10px;
      font-size: 17px;
    }

    small.card-count {
      float: right;
      font-size: 13px;
      margin: 11px 0 0 0;
    }


    // ~-~-~- TABBED HEADER NAVIGATION

    .nav-tabs {
      @extend .pull-right;

      font-size: 14px;
      margin-right: 8px;
      border-bottom-color: transparent;

      > li > a {
        padding: 5px 5px 4px 5px;
        color: #555;

        &:hover {
          background-color: #f9f9f9;
          border-bottom: none;
        }
      }

      > li.disabled > a {
        color: $disabled-label-color;

        a:hover {
          border-bottom: none;
        }
      }
    }
  }
}
