$card-current-z-index: 3;
$card-current-info-z-index: 2;
$card-offset-1-z-index: 1;
$card-offset-2-z-index: 0;

// Contains generalized styling for any kind of grid/detail grid. Not really card specific.
// Application-specific styling is below.
cards-view {
  @mixin scaled-card($scale) {
    width: $card-width * $scale;
    height: $card-height * $scale;

    img {
      border-radius: 16px * $scale;
      box-shadow: 0px 1px * $scale 6px * $scale rgba(0, 0, 0, 0.3);
    }

    .background {
      border-radius: 16px * $scale;
    }
  }

  display: block; // Browsers don't (always?) assume block display on a custom tag
  user-select: none; // Selection is mighty fucked up if we leave it on, because we re-order all the cards

  .content-container {
    position: relative;
    margin: 0 10px;
    position: relative; // Grid items are absolutely positioned, so we need this
  }

  .grid-header, .grid-item {
    position: absolute;
    top: 0;
    left: 0;
  }

  .grid-header {
    width: 100%;
  }

  .grid-item {
    @include scaled-card(1);
    cursor: pointer;
    transform-origin: 0 0;
    perspective: 2000px;
    transform-style: preserve-3d;

    img {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: auto;
      transform-origin: 0 0;
    }

    .background {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: 0 0;
      background: white;
    }
  }

  // ~-~-~- DOWNSCALING

  &.downscaled-1-2 .grid-item {
    @include scaled-card(1 / 2);
  }

  &.downscaled-1-3 .grid-item {
    @include scaled-card(1 / 3);
  }

  &.downscaled-1-4 .grid-item {
    @include scaled-card(1 / 3);
  }

  // ~-~-~- TRANSITIONED MODE

  &.transitioned {
    .grid-item, .grid-header, .grid-item img, .grid-item .background {
      transition: 0.2s ease-in-out transform,
                  0.2s ease-in-out opacity;
    }
  }

  // ~-~-~- DETAILED CARD MODE

  .grid-item.current {
    transform-origin: 0 150px;
    z-index: $card-current-z-index !important;

    img {
      opacity: 1;
      transform: translateZ(1px) rotateY(0deg);
    }

    .background {
      transform: rotateY(0deg);
    }
  }

  .grid-item.prev {
    transform-origin: 0 150px;

    img {
      transform: translateZ(1px) rotateY(35deg);
    }

    .background {
      transform: rotateY(35deg);
    }
  }

  .grid-item.next {
    transform-origin: 100% 150px;

    img {
      transform-origin: 100% 0;
      transform: translateZ(1px) rotateY(-35deg);
    }

    .background {
      transform-origin: 100% 0;
      transform: rotateY(-35deg);
    }
  }

  .grid-item.prev-1, .grid-item.next-1 {
    z-index: $card-offset-1-z-index !important;

    img {
      opacity: 0.93;
    }
  }

  .grid-item.prev-2, .grid-item.next-2 {
    z-index: $card-offset-2-z-index !important;

    img {
      opacity: 0.7;
    }
  }
}

.cards {
  margin-bottom: 20px;

  .selected-card-container {
    $selected-card-width: 660px;

    position: absolute;
    width: $selected-card-width;
    height: 100%;

    // Center the div
    left: 50%;
    margin-left: -($selected-card-width / 2);

    .selected-card {
      position: fixed;

      width: $selected-card-width;
      height: 100%;
      padding: 9px 18px;

      z-index: $card-current-info-z-index;
      background: rgba(255, 255, 255, 0.8);

      h2 {
        margin-bottom: 22px;

        .close {
          opacity: 0.3;
          line-height: 28px;
          font-weight: 200;

          &:hover {
            opacity: 0.5;
          }
        }

        .favourite {
          position: relative;
          top: -2px;
          left: 4px;

          color: #ccc;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: #999;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
          }

          &.on {
            color: #ffd76e;
            -webkit-text-stroke: 1px #e9c15a;
            &.hover {
              color: #ffd76e;
            }
          }
        }
      }

      .info {
        width: 310px;
        height: 418px;
        float: right;
        user-select: all;

        .info-nav {
          position: absolute;
          top: 51px;
          right: 27px;
        }

        label {
          color: #777;
          margin: 0;
        }

        .info-row {
          margin: 5px 0;

          > label {
            width: 90px;
            float: left;
          }

          &:first-child {
            margin-top: 0;
          }
        }

        small {
          margin-left: 3px;
        }

        .short-cards {
          color: #b94a48;
        }

        .links {
          @extend .list-unstyled;
          clear: both;
          margin-top: 20px;

          li {
            margin: 5px 0;
          }
        }
      }

      .card-count {
        position: fixed;
        bottom: 10px;
        // [todo] This will have to change when we have optional sidebars
        left: $sidebar-width;
        right: 0;
        text-align: center;
        color: #777;
      }
    }
  }

  h2 {
    $underline-opacity: 0.3;

    padding: 5px 7px;
    margin: 0;

    font-size: 23px;
    font-weight: 200;
    letter-spacing: 0.4px;

    color: $neutral-color;
    border-bottom: 1px solid transparentize($neutral-color, (1 - $underline-opacity));

    &.haas-bioroid {
      color: $haas-color;
      border-bottom: 1px solid transparentize($haas-color, (1 - $underline-opacity));
    }

    &.jinteki {
      color: $jinteki-color;
      border-bottom: 1px solid transparentize($jinteki-color, (1 - $underline-opacity));
    }

    &.nbn {
      color: $nbn-color;
      border-bottom: 1px solid transparentize($nbn-color, (1 - $underline-opacity));
    }

    &.weyland {
      color: $weyland-color;
      border-bottom: 1px solid transparentize($weyland-color, (1 - $underline-opacity));
    }

    &.anarch {
      color: $anarch-color;
      border-bottom: 1px solid transparentize($anarch-color, (1 - $underline-opacity));
    }

    &.criminal {
      color: $criminal-color;
      border-bottom: 1px solid transparentize($criminal-color, (1 - $underline-opacity));
    }

    &.shaper {
      color: $shaper-color;
      border-bottom: 1px solid transparentize($shaper-color, (1 - $underline-opacity));
    }

    small {
      font-weight: 200;
    }

    small.secondary-group {
      margin-left: 10px;
      font-size: 17px;
    }

    small.card-count {
      float: right;
      font-size: 13px;
      margin: 11px 0 0 0;
    }
  }
}
