a {
  &,
  &:hover {
    cursor: pointer;
  }
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // Momentum scrolling on iOS
}

.scrollable.always-scrollable {
  overflow-y: scroll;
}

.info-row {
  margin-bottom: 5px;

  > .info-label {
    width: 90px;
    color: #777;
    float: left;
  }

  .info-value {
    margin-left: 90px;
  }
}
