// Describes styles for the card grid

nr-card-grid {
  position: relative;
  display: block;

  // XXX
  // This is incredibly important, because if we don't have it, setting the grid's height during a
  // transition of the grid items will internally set it to the position of the bottom-most grid item
  // (which is in transition).
  //
  // With overflow hidden, the height set in the style property is respected, and any ancestors with
  // overflow: scroll will work properly.
  overflow: hidden;

  $grid-item-width: 300px;
  $grid-item-radius: 16px;

  .grid-item {
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    transform-origin: 0 0;

    // DEBUG
    border-radius: $grid-item-radius;
    width: $grid-item-width;
    height: auto;
  }

  &.transitioned {
    .grid-item {
      transition: 0.5s ease-in-out transform;
    }
  }

  &.downscaled {
    .grid-item {
      $scale: 1/2;
      border-radius: $grid-item-radius * $scale;
      width: $grid-item-width * $scale;
      box-shadow: 0px 1px 6px * $scale rgba(0, 0, 0, 0.3);
    }

  }
}
