// Describes styles for the card grid

nr-cards-view {
  position: relative;
  display: block;

  overflow-y: scroll;
  overflow-x: hidden;

  .grid {
    // XXX
    // This is incredibly important, because if we don't have it, setting the grid's height during a
    // transition of the grid items will internally set it to the position of the bottom-most grid item
    // (which is in transition).
    //
    // With overflow hidden, the height set in the style property is respected, and any ancestors with
    // overflow: scroll will work properly.
    overflow: hidden;
  }

  @mixin scale-card($scale) {
    width: 300px * $scale;
    height: auto;
    border-radius: 16px * $scale;
    box-shadow: 0px 1px 6px * $scale rgba(0, 0, 0, 0.3);
  }

  .grid-item {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;

    @include scale-card(1);
  }

  &.transitioned {
    .grid-item {
      transition: 0.5s ease-in-out transform;
    }
  }

  &.downscaled {
    .grid-item {
      @include scale-card(1/2);
    }
  }
}
