$filter-bar-collapse-width: 860px;

@mixin abridged($max-width) {
  .unabridged {
    display: block;
  }

  .abbreviated {
    display: none;
  }

  @media (max-width: $max-width) {
    .unabridged {
      display: none;
    }

    .abbreviated {
      display: block;
    }
  }
}

@mixin hide-at($width) {
  @media (max-width: $width) {
    display: none;
  }
}
