
.sidebar {
  user-select: none;
}

#filter-bar {
  width: 212px;
  min-width: 212px;
  overflow-y: auto;
  border-right: $navbar-default-border;

  h5 {
    margin-bottom: 2px;
    padding: 0;

    background: #f8f8f8;
    border:  1px solid $navbar-default-border;
    border-left: none;
    border-right: none;
  }

  .filter-group.active h5 {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 3px;
      top: 0;
      bottom: 0;
      left: 0;
      background: #ac2eb1;
    }
  }

  .form-group {
    padding: 0 15px 0 3px;
    margin: 8px 0;

    > .control-label {
      float: left;
      width: 45px;
      text-align: center;
      color: #777;
    }

    // Smaller text for memory units, cause the font sucks
    &.mu-form-group, &.trash-cost-form-group {
      > .control-label {
        font-size: 0.8em;
      }
    }
  }
}

