$sidebar-width: 212px;

.sidebar {
  user-select: none;
}

#filter-bar {
  width: $sidebar-width;
  min-width: $sidebar-width;
  border-right: 1px solid $navbar-default-border;

  .filter-group {
    &.active h5 {
      background: #e9e9e9;
      color: #555;
      text-shadow: none;
      border-color: #d0d0d0;

      .icon-active-group {
        display: block;
      }
    }
    &.general h5 { border-top: none; }

    h5 {
      margin-top: 0;
      margin-bottom: 2px;
      padding: 5px 4px 5px 10px;

      color: #9b9b9b;
      font-size: 11px;
      line-height: 1.8;
      text-shadow: 1px 1px 3px white;
      text-transform: uppercase;
      font-weight: 200;
      cursor: pointer;

      background: #f8f8f8;
      border:  1px solid $navbar-default-border;
      border-left: none;
      border-right: none;

      // Don't use subpixel letter-spacing unless we're on a screen that can support it
      @include retina {
        letter-spacing: 0.3px;
      }
    }
  }

  .filter-group-field {
    padding: 0 15px 0 3px;
    margin: 8px 0;

    > .control-label {
      float: left;
      width: 45px;
      text-align: center;
      color: #777;
    }

    input[type=search] {
      width: calc(100% - 45px);
    }

    &.faction {
      button {
        padding-left: 6px;
        padding-right: 6px;
      }
    }

    &.disabled {
      > .control-label {
        color: #bbb;
      }
    }
  }
}

