
.sidebar {
  border-right: 1px solid $navbar-default-border;
}

#filter-bar {
  width: 212px;
  overflow-y: auto;

  h5 {
    margin-bottom: 2px;
    padding: 0;

    background: #f8f8f8; // linear-gradient(, #f2f2f2);
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;


    label {
      display: block;
      padding: 3px 4px 3px 10px;

      color: #9b9b9b;
      font-size: 11px;
      line-height: 1.8;
      text-shadow: 1px 1px 3px white;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 0.3px;
    }

    // Hide the checkbox
    input {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  .form-group {
    padding: 0 15px 0 3px;
    margin: 8px 0;

    > .control-label {
      float: left;
      width: 45px;
      text-align: center;
      color: #777;
    }

    // Smaller text for memory units, cause the font sucks
    &.mu-form-group, &.trash-cost-form-group {
      > .control-label {
        font-size: 0.8em;
      }
    }
  }
}

