$haas-color:     #77609e;
$jinteki-color:  #8e170d;
$nbn-color:      #eea211;
$weyland-color:  #1f6050;
$anarch-color:   #f39551;
$criminal-color: #529dba;
$shaper-color:   #6da346;
$neutral-color:  #756661;

// Bootstrap overrides

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$headings-font-weight: 200;
$btn-font-weight: 200;
$grid-float-breakpoint: 0px;
