$card-width: 300px;
$card-height: 418px;
$sidebar-width: 212px;

$active-color: #66afe9;
$active-border-color: #5398ce;
$disabled-label-color: #bbb;
$has-input-color: #c2e4ff;
$has-input-border-color: #aaa;


// ~-~-~- RESPONSIVE

$filter-bar-collapse-width: 1090px;
$super-small-collapse-width: 400px;


// ~-~-~- FACTION COLORS

$haas-bioroid-color: #77609e;
$jinteki-color:      #8e170d;
$nbn-color:          #eea211;
$weyland-color:      #1f6050;
$anarch-color:       #f39551;
$criminal-color:     #529dba;
$shaper-color:       #6da346;
$neutral-color:      #756661;


// ~-~-~- CYCLE COLORS

$genesis-cycle-color: #7b7868;
$spin-cycle-color: #7b7868;


// ~-~-~- COST TO BREAK ROW COLORS

// green * 3 > yellow * 3 > red * 3
// #dff0d8 #e6f2da #edf4dd #f4f6e0 #fcf8e3 #f9f1e1 #f7ebe0 #f4e4df #f2dede


// ~-~-~- BOOTSTRAP OVERRIDES

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$headings-font-weight: 200;
$btn-font-weight: 200;
$grid-float-breakpoint: 0px;
$text-color: #555;
$dropdown-link-hover-bg: #428bca;
$dropdown-link-hover-color: white;
$zindex-dropdown: 10000;
