$haas-dark-color:     #53436e;
$haas-light-color:    #77609e; // #ad9fc5; -- possible light color

$jinteki-dark-color:  #8e170d;
$jinteki-light-color: #eedcc8;

$nbn-dark-color:      #eea211;
$nbn-light-color:     #f8dfb1;

$weyland-dark-color:  #1f6050;
$weyland-light-color: #d7eada;

$anarch-dark-color:   #f39551;

$criminal-dark-color: #529dba;

$shaper-dark-color:   #6da346;

$neutral-dark-color:  #756661;
$neutral-light-color: #dbdbdb;

// Bootstrap overrides

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$headings-font-weight: 200;
$btn-font-weight: 200;
