@import "grid";

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 200;
}

.grid-test {
  display: flex;
  flex-direction: column;

  .controls {
    min-height: 30px;
  }

  nr-card-grid {
    flex-grow: 1;
  }
}
