// Application variables and overrides
@import "variables";

// Library imports
@import "bootstrap-sass/lib/bootstrap";

// Application imports
@import "common";
@import "mixins";
@import "cards-view";
@import "nav";
@import "bootstrap-overrides";
@import "select2-overrides";
@import "fonts";
@import "icons";
@import "directives";
@import "sidebar";

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 200;
}

// The spinners look like crap
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 52px; // For whatever reason, the bootstrap default of 50px is too little

  .navbar-brand, .navbar-brand:hover {
    @mixin logo($path) {
      $logo-background-size: 165px 22px;
      background: url(#{$path}) 14px 13px / #{$logo-background-size} no-repeat,
                  white;
    }

    @extend .text-hide;
    @include logo('/images/logo.png');

    width: 211px;
    height: 51px;
    margin: 0;
    padding-top: 18px;

    @include retina {
      @include logo('/images/logo@2x.png');
    }
  }

  .navbar-nav > li > a {
    font-weight: 200;

    .unabridged {
      display: block;
    }

    .abbreviated {
      display: none;
    }

    @media (max-width: $screen-xs-max) {
      .unabridged {
        display: none;
      }

      .abbreviated {
        display: block;
      }
    }
  }
}

.app-outer-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.app-inner-layout {
  width: 100%;
  width: calc(100% - #{$sidebar-width}); // This is so Safari doesn't give too much space to the inner layout
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page {
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
}

#version {
  position: absolute;
  font-size: 11px;
  left: 3px;
  bottom: 0;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.9);

  a, a:hover, a:visited {
    color: #777;
  }
}
