<div class="wing">
  <div ng-click="selectPreviousCard()"
       ng-if="cardsBefore.length > 1"
       class="wing-click-region"></div>
  <div ng-repeat="card in cardsBefore track by card.id"
       class="card-image in-wing prev prev-{{ cardsBefore.length - $index - 1 }}">
    <img ng-src="{{ card.imagesrc }}"
         class="primary"
         width="300" height="418">
    <div class="background"></div>
  </div>
</div>
<div class="selected-card" ng-if="card != null">
  <!-- Fancy header -->
  <h2 class="card-name {{ card.faction.toLowerCase() }}">
    {{ card.title }}
    <small class="favourite"
           ng-click="toggleFavourite(card)"
           ng-class="{ 'on': isFavourite(card) }">
      {{ isFavourite(card) ? '★' : '☆' }}
    </small>

    <span class="close" ng-click="deselectCard()">&times;</span>

    <ul class="nav nav-tabs">
      <li ng-class="{ active: cardUI.page == 'info' }">
        <a ng-model="cardUI.page" btn-radio="'info'">
          <i class="icon-info"></i>
        </a>
      </li>
      <li ng-class="{
            active: cardUI.page == 'cost-to-break',
            disabled: !isCostToBreakEnabled(card)
          }">
        <a ng-model="cardUI.page" btn-radio="'cost-to-break'">
          <i class="icon-calculator"></i>
        </a>
      </li>
    </ul>
  </h2>

  <div class="card-content">
    <div ng-repeat="cardImage in cardAndNeighbours track by cardImage.card.id"
         class="card-image {{ cardImage.class }}"
         ng-class="{
           'show-alt': cardUI.altArtShown
         }">

      <img ng-src="{{ cardImage.card.imagesrc }}"
           class="primary"
           width="300" height="418">

      <!-- Alternate art -->
      <img ng-src="{{ cardImage.card.altart.imagesrc }}"
           ng-if="hasAltArt(card)"
           class="alt"
           width="300" height="418">
    </div>

    <div class="info">
      <div ng-switch="cardUI.page">
        <div ng-switch-when="cost-to-break">
          <cost-to-break-calculator card="card"></cost-to-break-calculator>
        </div>
        <div class="general"
             ng-switch-when="info">
          <div class="info-row">
            <span class="info-label">Type:</span>
            <div class="info-value">
              <a ng-href="{{ card | cardUrl:'type' }}">
                {{ card.type }}
              </a>
            </div>
          </div>
          <div ng-if="card.subtypes.length > 0" class="info-row">
            <span class="info-label">Subtypes:</span>
            <div class="info-value">
              <span ng-repeat="subtype in card.subtypes">
                <a ng-href="{{ card | cardUrl:'subtype':subtype }}">{{ subtype }}</a><span ng-if="!$last"> - </span>
              </span>
            </div>
          </div>
          <div class="info-row">
            <span class="info-label">From:</span>
            <div class="info-value">
              <a ng-href="{{ card | cardUrl:'set' }}">{{ card.setname }}</a>
              <span ng-if="isUnreleased(card)" class="unreleased">
                Unreleased
              </span>
            </div>
          </div>
          <div ng-if="card.illustrator != null" class="info-row">
            <span class="info-label">Illustrator:</span>
            <div class="info-value">
              <span ng-switch="cardUI.altArtShown">
                <a ng-switch-when="false"
                   ng-href="{{ card | cardUrl:'illustrator' }}">{{ card.illustrator }}</a>
                <a ng-switch-when="true"
                   ng-href="{{ card | cardUrl:'alt-illustrator' }}">{{ card.altart.illustrator }}</a>
              </span>
              <br>
              <a ng-click="toggleAltArt()" ng-if="hasAltArt(card)"
                 class="small">
                {{ cardUI.altArtShown ? 'Hide' : 'Show' }}
                Alternate Art
              </a>
            </div>
          </div>
          <div ng-if="(isShortCard(card) || !hasConfiguredSets()) && !isUnreleased(card)"
               class="info-row">
            <span class="info-label">Quantity:</span>
            <div ng-switch="hasConfiguredSets()"
                 class="info-value">
              <span ng-switch-when="true">
                <span class="short-card">
                  {{ cardQuantity(card) }} owned
                </span>
                <a class="show-settings" ng-click="showSettings()">
                  <i class="icon-settings"></i>
                </a>
              </span>
              <span ng-switch-default>
                <a class="show-settings" ng-click="showSettings()">Configure Sets...</a>
              </span>
            </div>
          </div>

          <ul class="links">
            <!-- Reddit cards of the day -->
            <li ng-repeat="cotd in card.reddit_cotds track by cotd.id">
              <a ng-href="{{ cotd.url }}" target="reddit">
                <i class="icon-cotd"></i> Card of the Day ({{ cotd.created|date }})
              </a>
            </li>
            <li ng-if="card.cgdb_url != null">
              <a ng-href="{{ card.cgdb_url }}#commentsStart" target="cgdb">
                <i class="icon-link-ext"></i> Comments on CardGameDB
              </a>
            </li>
            <!-- 
            <li>
              <a ng-href="{{ card.nrdb_url }}" target="nrdb">
                <i class="icon-link-strength"></i> View on NetrunnerDB
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-pager"
       ng-if="queryResult.cardOrdinal(card) != -1">
    <div class="card-pager-inner">
      <span class="prev-card">
        <a ng-click="selectPreviousCard()">Previous</a>
      </span>
      <span class="next-card">
        <a ng-click="selectNextCard()">Next</a>
      </span>
      <div class="card-count">
        <span class="current">{{ queryResult.cardOrdinal(card) + 1 }}</span>
        of
        <span class="total">{{ queryResult.length }}</span>
      </div>
    </div>
  </div>
</div>
<div class="wing">
  <div ng-click="selectNextCard()"
       ng-if="cardsAfter.length > 1"
       class="wing-click-region"></div>
  <div ng-repeat="card in cardsAfter track by card.id"
       class="card-image in-wing next next-{{ $index }}">
    <img ng-src="{{ card.imagesrc }}"
         class="primary"
         width="300" height="418">
    <div class="background"></div>
  </div>
</div>
