<nav class="navbar navbar-default" role="navigation">
  <div>
    <div class="navbar-header">
      <h1 class="navbar-brand">
        Ono-Sendai
      </h1>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" tabindex="-1">Card Browser</a></li>
      <li><a href="#" tabindex="-1">Deck Builder</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <input class="form-control" type="search" placeholder="Card Search"
             ui-hotkey="cmd+F/ctrl+F"
             autofocus>
    </form>
    <!--ul class="nav navbar-nav navbar-right">
      <li><a href="#">Settings</a></li>
    </ul-->
  </div>
</nav>
