<h1 class="brand">Ono-Sendai</h1>
<nav>
  <ul>
    <li class="active">
      <a href="#" tabindex="-1">
        <span class="unabridged">Card Browser</span>
        <span class="abbreviated">Cards</span>
      </a>
    </li>
    <li>
      <a href="#" tabindex="-1" data-abbr="Decks">
        <span class="unabridged">Deck Builder</span>
        <span class="abbreviated">Decks</span>
      </a>
    </li>
  </ul>
</nav>
<div class="controls">
  <div class="card-search">
    <div class="abbreviated">
      <a href="#"><i class="icon-search"></i></a>
    </div>
    <div class="unabridged">
      <input class="form-control"
             type="search"
             placeholder="Card Search"
             ng-model="cardSearch"
             ui-hotkey="cmd+F/ctrl+F"
             filter-input>
    </div>
    <ul class="dropdown-menu">
      <li ng-repeat="card in cardSearchResults">
        <a href="{{ card | cardUrl:'card' }}">{{ card.title }}</a>
      </li>
    </ul>
  </div>
</div>
