<h1 class="brand" ng-click="resetState()">Ono-Sendai</h1>
<nav>
  <ul>
    <li ng-class="{
          'active': isNavActive('/cards')
        }">
      <a href="/cards" tabindex="-1">
        <span class="unabridged">Card Browser</span>
        <span class="abbreviated">Cards</span>
      </a>
    </li>
    <li ng-class="{
          'active': isNavActive('/decks')
        }">
      <a href="/decks" tabindex="-1">
        <span class="unabridged">Deck Builder</span>
        <span class="abbreviated">Decks</span>
      </a>
    </li>
  </ul>
</nav>
<div class="controls">
  <div class="links">
    <a ng-click="cardsUI.settingsVisible = !cardsUI.settingsVisible"
       class="show-settings"><i class="icon-settings"></i></a>
  </div>
  <div class="card-search">
    <div class="abbreviated">
      <a href="#"><i class="icon-search"></i></a>
    </div>
    <div class="dropdown-parent unabridged">
      <input class="form-control"
             type="search"
             placeholder="Jump to Card"
             ng-model="cardSearch"
             ui-hotkey="cmd+F/ctrl+F"
             ui-keydown="{
               'up'    : { action: 'previousResult()', preventDefault: true },
               'down'  : { action: 'nextResult()', preventDefault: true },
               'enter' : { action: 'clearSearch()', preventDefault: true }
             }"
             autofocus
             filter-input>
      <ul class="dropdown-menu">
        <li ng-repeat="card in cardSearchResults"
            ng-class="{
              active: $index == cardSearchResults.selectedIndex
            }">
          <a href="{{ card | cardUrl:'card' }}" ng-bind-html="resultTitle(card, cardSearch)"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
