<nav>
  <ul>
    <li><a ng-model="filter.side" btn-radio="null">All</a></li>
    <li><a ng-model="filter.side" btn-radio="'Corp'">Corporation</a></li>
    <li><a ng-model="filter.side" btn-radio="'Runner'">Runner</a></li>
  </ul>
</nav>
<div class="zoom dropdown" ng-if="isZoomVisible()">
  <span class="control-label">Zoom:</span>

  <div class="unabridged">
    <input type="range" step="0.003125" min="0.2" max="1.0"
           ng-model="uiState.zoom"
           ng-mousedown="broadcastZoomStart()"
           ng-mouseup="broadcastZoomEnd()">
  </div>
  <div class="abbreviated">
    <button class="btn btn-default dropdown-toggle" dropdown-toggle>
      {{ (uiState.zoom * 100).toFixed() }}% <span class="caret"></span>
    </button>
    <div class="dropdown-menu" dropdown-menu>
      <input type="range" step="0.003125" min="0.2" max="1.0"
             ng-model="uiState.zoom"
             ng-mousedown="broadcastZoomStart()"
             ng-mouseup="broadcastZoomEnd()">
    </div>
  </div>
</div>
<group-selector class="groupings"></group-selector>
