cost-to-break-calculator {
  display: block;
  padding-right: 9px;

  .controls {
    padding: 3px 0 5px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;

    input {
      display: inline-block;
    }

    .opponent-filter {
      width: 126px;
    }

    .ice-adjust {
      width: 82px;
    }

    .breaker-strength {
      width: 82px;
    }
  }

  .stats-row {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 0.85em;
    white-space: nowrap;

    .stat-label {
      @extend .text-muted;
      font-size: 0.9em;
    }

    .stat {
      padding: 0 6px 0 2px;
    }
  }

  .opponents {
    font-size: 0.9em;
    height: 318px;
    overflow-y: auto;
  }

  .opponent {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px 5px 5px;

    .card {
      float: left;
    }

    .cost {
      text-align: right;
      margin-left: 140px;
    }

    &.not-broken {
      background: $alert-danger-bg;

      a {
        color: $alert-danger-text;
      }

      .cost {
        position: relative;
        top: -1px;
        left: 2px;
        color: $state-danger-text;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
