nr-nav {
  display: flex;
  min-height: 50px;

  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;

  a {
    color: $navbar-default-link-color;

    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-link-hover-bg;
      text-decoration: none;
    }
  }


  // ~-~-~- BRANDING

  .brand {
    @mixin logo($path) {
      $logo-background-size: 165px 22px;
      background: url(#{$path}) 14px 13px / #{$logo-background-size} no-repeat,
                  white;
    }

    @extend .text-hide;
    @include logo('/images/logo.png');

    width: 211px;
    height: 51px;
    margin: 0;
    padding-top: 18px;
    cursor: pointer;

    @include retina {
      @include logo('/images/logo@2x.png');
    }

    @media (max-width: $filter-bar-collapse-width) {
      width: 48px;
    }
  }


  // ~-~-~- NAVIGATION

  nav {
    flex-grow: 1;

    > ul {
      list-style: none;
      padding: 0;

      > li {
        float: left;

        > a {
          @include abridged(550px);
          display: block;
          padding: 15px 15px;

          font-weight: 200;
          line-height: $line-height-computed;

          &:hover, &:focus {
            > .tooltip {
              opacity: 1;
              z-index: 10000;
              margin-top: 8px;
              margin-left: -8px;
            }
          }
        }

        &.active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          }
        }

        &.disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  .controls {
    padding: 8px;

    > div {
      display: inline;
    }

    .links {
      .settings {
        @include tweak($y: 2px);
        font-size: 17px;
        padding: 10px;
      }
    }

    .card-search {
      @include abridged(350px, inline-block);
      position: relative; // For dropdown positioning

      .abbreviated {
        padding-top: 2px;
        font-size: 22px;
      }

      .unabridged {
        width: 190px;

        @media (max-width: 400px) {
          width: 150px;
        }
      }

      .dropdown-menu {
        left: initial;
        right: 0;
        min-width: 100%;
      }
    }
  }
}
