nr-settings {

  > .popover {
    $bounce-timing: ease-out;

    display: block;
    top: 38px;

    // Centers below settings link
    left: auto;
    right: 223px;
    transform: translateX(50%) scale3d(0, 0, 1);

    // For animation
    transform-origin: 50% 0;
    transition: opacity 0.15s $bounce-timing;
    opacity: 0;

    z-index: 10000;

    > .popover-content {
      padding: 9px 8px;
    }
  }

  &.visible {
    > .popover {
      transform: translateX(50%) scale3d(1, 1, 1);
      opacity: 1;
    }
  }


  .core-set-count {
    label {
      margin-left: -20px;
    }

    select {
      @include tweak($y: -1px);
      margin-left: 4px;
    }
  }

  section {
    $inset: 0;

    padding-left: $inset;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    > h2 {
      margin-top: 0;
      font-size: 17px;
      margin-left: -$inset;
      padding-bottom: 4px;
      padding-left: 5px;

      border-bottom: 1px solid #d6d1d0;
    }

    .set {
      margin-left: 15px;
    }

    .checkbox {
      padding-left: 25px;
      padding-right: 15px;
    }
  }

  label {
    font-weight: 200 !important;
  }
}
