nr-subnav {
  $subnav-height: 30px;

  display: flex;
  height: $subnav-height; // Required for Firefox
  min-height: $subnav-height; // Everybody else (weird)
  border-bottom: 1px solid #e7e7e7;
  background: #fbfbfb;
  box-shadow: 1px 4px 13px rgba(255, 255, 255, 0.6);
  z-index: $zindex-dropdown - 1;

  nav {
    flex-grow: 1;

    ul {
      @extend .nav;

      li {
        float: left;

        a {
          padding: 5px 23px;
          line-height: $subnav-height;
          font-size: 13px;
          color: #777;
          border-bottom: 2px solid transparent;
          transition: 0.3s border-bottom ease-in-out,
                      0.3s color         ease-in-out;

          &:hover {
            color: #777;
            background: none;
            text-decoration: none;

            &:not(.active) {
              border-bottom: 2px solid #ccc;
            }
          }

          &.active {
            color: #555;
            border-bottom: 2px solid #66afe9;
          }
        }
      }
    }
  }

  .zoom {
    @include hide-at(550px);
    @include abridged($filter-bar-collapse-width + 50px, inline-block);

    margin-right: 20px;

    > .control-label {
      margin-right: 0;
    }

    .unabridged {
      margin-left: 10px;

      input[type=range] {
        width: 120px;
        @include tweak($y: 3px);
      }
    }

    .dropdown-menu {
      padding: 3px 8px 0 8px;

      input[type=range] {
        width: 100%;
      }
    }
  }

  .groupings {
    $abridged-width: $filter-bar-collapse-width + 50px;
    @include abridged($abridged-width, inline-block);

    .dropdown-menu {
      left: initial;
      right: 0;
      min-width: inherit;
    }

    @media (max-width: $abridged-width) {
      .control-label {
        margin-right: 0;
      }
    }
  }

  .control-label {
    margin-right: 12px;
    font-size: 12px;
    color: #777;
    line-height: $subnav-height;
  }

  .btn {
    font-size: 12px;
    height: $subnav-height;
    background: none;
    border: none;
    padding-top: 4px;

    &.btn-default:hover, &.btn-default:focus, &.btn-default.active {
      background: #f4f4f4;
    }
  }

  .btn-group .btn:focus + .btn {
    border: none;
  }
}

// Hacks for Firefox. I repent to the god of CSS.
@include firefox-only {
  nr-subnav {
    .groupings {
      @include tweak($y: -1px);
    }

    .zoom {
      .control-label {
        @include tweak($y: -3px);
      }

      .unabridged input[type=range] {
        top: 6px !important;
      }
    }
  }
}

@include ie-only {
  nr-subnav {
    .zoom {
      .control-label {
        @include tweak($y: -8px);
      }

      .unabridged input[type=range] {
        top: -7px !important;
      }
    }
  }
}
