<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ono-Sendai</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="deckBuilder">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <nav class="navbar navbar-default" role="navigation">
    <div>
      <div class="navbar-header">
        <span class="navbar-brand"><span class="anr-symbol">⌚</span> Ono-Sendai</span>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Card Browser</a></li>
        <li><a href="#">Deck Builder</a></li>
      </ul>
      <!--form class="navbar-form navbar-left">
        <label class="radio-inline">
          <input type="radio" name="side" ng-model="filter.side" value="Corp"> Corp
        </label>
        <label class="radio-inline">
          <input type="radio" name="side" ng-model="filter.side" value="Runner"> Runner
        </label>
        <div class="form-group" style="visibility: hidden; width: 1px">
          <input type="text" class="form-control">
        </div>
      </form-->
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="filter.search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#">Advanced Filter</a></li>
      </div>
    </div>
  </nav>

  <!-- Add your site or application content here -->
  <div class="container" ng-view></div>

  <!-- build:js scripts/lib.js -->
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/bootstrap-sass/js/affix.js"></script>
  <script src="bower_components/bootstrap-sass/js/alert.js"></script>
  <script src="bower_components/bootstrap-sass/js/dropdown.js"></script>
  <script src="bower_components/bootstrap-sass/js/tooltip.js"></script>
  <script src="bower_components/bootstrap-sass/js/modal.js"></script>
  <script src="bower_components/bootstrap-sass/js/transition.js"></script>
  <script src="bower_components/bootstrap-sass/js/button.js"></script>
  <script src="bower_components/bootstrap-sass/js/popover.js"></script>
  <script src="bower_components/bootstrap-sass/js/carousel.js"></script>
  <script src="bower_components/bootstrap-sass/js/scrollspy.js"></script>
  <script src="bower_components/bootstrap-sass/js/collapse.js"></script>
  <script src="bower_components/bootstrap-sass/js/tab.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/underscore.string/lib/underscore.string.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/app.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/services/cardService.js"></script>
  <script src="scripts/directives/bnLazySrc.js"></script>
  <script src="scripts/services/searchService.js"></script>
  <script src="components/fullproof/fullproof-all.js"></script>
  <script src="scripts/directives/card.js"></script>
  <!-- endbuild -->
</body>
</html>
