<!--
NOTES:
* If deck building, in-faction-only option
* DRY this up
-->

<form class="form form-horizontal" role="form">
  <h5 class="checkbox" style="border-top: none;"><label>General</label></h5>

  <!-- Cost -->
  <div class="form-group">
    <label for="cost-filter-operator" class="control-label anr-symbol">¥</label>
    <numeric-filter id="cost-filter" filter-attr="filter.general.cost" placeholder="Cost"></numeric-filter>
  </div>

  <!-- Influence -->
  <div class="form-group">
    <label for="influence-value-filter-operator" class="control-label"><i class="icon-group"></i></label>
    <numeric-filter id="influence-value-filter" filter-attr="filter.general.influenceValue" placeholder="Influence"></numeric-filter>
  </div>

  <!-- ******* IDENTITIES ******* -->
  <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.identities.enabled"> Identities</label></h5>
  <div ng-show="filter.identities.enabled">
    <!-- Influence limit -->
    <div class="form-group">
      <label for="influence-limit-filter-operator" class="control-label"><i class="icon-group"></i></label>
      <numeric-filter id="influence-limit-filter" filter-attr="filter.identities.influenceLimit" placeholder="Influence Limit"></numeric-filter>
    </div>

    <!-- Minimum deck size -->
    <div class="form-group">
      <label for="minimum-deck-size-filter-operator" class="control-label"><i class="icon-stackexchange"></i></label>
      <numeric-filter id="minimum-deck-size-filter" filter-attr="filter.identities.minimumDeckSize" placeholder="Min. Deck Size"></numeric-filter>
    </div>
  </div>

  <div ng-switch="filter.side">
    <div ng-switch-when="Runner">
      <!-- ******** PROGRAMS ******** -->
      <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.programs.enabled"> Programs</label></h5>
      <div ng-show="filter.programs.enabled">
        <!-- Breaker strength -->
        <div class="form-group">
          <label for="breaker-strength-operator-btn" class="control-label"><i class="icon-signal"></i></label>
          <numeric-filter filter-attr="filter.programs.breakerStrength" placeholder="Strength"></numeric-filter>
        </div>

        <!-- Memory units -->
        <div class="form-group mu-form-group">
          <label for="memory-unit-operator-btn" class="control-label anr-symbol">⎗</label>
          <numeric-filter filter-attr="filter.programs.memoryUnits" placeholder="Memory Units"></numeric-filter>
        </div>
      </div>
    </div>

    <div ng-switch-when="Corp">
      <!-- ********* AGENDAS ******** -->
      <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.agendas.enabled"> Agendas</label></h5>
      <div ng-show="filter.agendas.enabled">
        <!-- Agenda points -->
        <div class="form-group">
          <label for="agenda-points-operator" class="control-label"><i class="icon-asterisk"></i></label>
          <numeric-filter filter-attr="filter.agendas.points" placeholder="Agenda Points"></numeric-filter>
        </div>
      </div>

      <!-- ********* Assets ********* -->
      <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.assets.enabled"> Assets</label></h5>
      <div ng-show="filter.assets.enabled">
        <!-- Trash Cost -->
        <div class="form-group trash-cost-form-group">
          <label for="trash-cost-operator" class="control-label anr-symbol">⏏</label>
          <numeric-filter id="trash-cost" filter-attr="filter.general.trashCost" placeholder="Trash Cost"></numeric-filter>
        </div>
      </div>

      <!-- ******* OPERATIONS ******* -->
      <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.operations.enabled"> Operations</label></h5>

      <!-- ********** ICE *********** -->
      <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.ice.enabled"> ICE</label></h5>
      <div ng-show="filter.ice.enabled">
        <!-- ICE strength -->
        <div class="form-group">
          <label for="ice-strength-operator" class="control-label"><i class="icon-signal"></i></label>
          <numeric-filter id="ice-strength" filter-attr="filter.ice.strength" placeholder="Strength"></numeric-filter>
        </div>

        <!-- ICE subroutine count -->
        <div class="form-group">
          <label for="subroutine-count-operator" class="control-label anr-symbol">⏎</label>
          <numeric-filter id="subroutine-count" filter-attr="filter.ice.subroutineCount" placeholder="# Subroutines"></numeric-filter>
        </div>
      </div>

      <!-- ******* OPERATIONS ******* -->
      <h5 class="checkbox"><label><input type="checkbox" ng-model="filter.upgrades.enabled"> Upgrades</label></h5>
    </div>
  </div>
</form>

