<div class="cards">
  <div ng-repeat="group in cardGroups track by group.id" style="clear:both">
    <div ng-repeat="subgroup in group.subgroups track by subgroup.id" style="clear: both">
      <!-- Group header -->
      <h2 class="{{group.id + ' ' + subgroup.id}}">{{subgroup.title}}<small>{{group.title}}</small>
        <!--small>(<ng-pluralize
            count="subgroup.cards.length"
            when="{
              '1': '1 card',
              'other': '{} cards'
            }"></ng-pluralize>)
        </small-->
      </h2>

      <card ng-repeat="card in subgroup.cards">
        <img bn-lazy-src="{{card.imagesrc}}" class="card-graphic" alt="{{card.title}}">
      </card>
    </div>
  </div>
</div>
