<grid query-result="queryResult"
      selection="selectedCard"
      zoom="uiState.zoom">

  <!-- HEADERS -->
  <h2 ng-repeat="(id, group) in queryResult.groups track by id"
      grid-id="{{ group.id }}"
      class="{{ group.id }} grid-header invisible"
      title="{{ group.id }}">
    <small class="element-count"><ng-pluralize
        count="group.cards.length"
        when="{
          '1': '1 card',
          'other': '{} cards'
        }"></ng-pluralize>
    </small>
    {{ group.title | primaryGroupTitle:queryArgs.groupByFields }}
    <small class="secondary-group" ng-bind-html="group.title | secondaryGroupTitle:queryArgs.groupByFields"></small>
  </h2>

  <!--
    CARDS

    Note:
    For performance reasons, this template is bound once, with all the cards, then never touched
    again. All sorting and show/hide logic for cards exists in the ui-grid directive.
  -->
  <div ng-repeat="card in cards track by card.id"
       bindonce
       class="grid-item hidden"
       ng-click="selectCard(card)"
       bo-title="card.title"
       bo-attr-grid-id="card.id"
       bo-attr>
    <img bo-src="card | cardUrl:'image'" width="300" height="418">
  </div>

  <!-- No results -->
  <div ng-show="queryResult.length == 0"
       class="no-results">
    <h2>
      <small class="element-count">0 cards</small>
      No Results Found
    </h2>
  </div>
</grid>
