<cards-view
    class="cards"
    query-result="queryResult"
    selection="selectedCard"
    zoom="cardUI.zoom">

  <!-- SELECTED CARD -->
  <div ng-if="selectedCard != null"
       class="selected-card-container">
    <div class="selected-card">
      <h2 class="{{selectedCard.faction.toLowerCase()}}">
        {{selectedCard.title}}
        <small class="favourite"
               ng-click="toggleFavourite(selectedCard)"
               ng-class="{ 'on': isFavourite(selectedCard) }"
               ng-switch="isFavourite(selectedCard)">
          <span ng-switch-when="false">☆</span>
          <span ng-switch-when="true">★</span>
        </small>
        <span class="close" ng-click="deselectCard()">&times;</span>
      </h2>
      <div class="info">
        <!-- Nav -->
        <div class="info-nav btn-group"
             ng-if="isCostToBreakEnabled(selectedCard)">
          <button type="button" class="btn btn-sm btn-default"
                  ng-model="cardUI.costToBreakVisible"
                  btn-checkbox>
            <i class="icon-calculator"></i>
          </button>
        </div>

        <div ng-switch="isCostToBreakVisible(selectedCard)">
          <div class="general" ng-switch-when="false">
            <div class="info-row">
              <label>Type:</label>
              <a ng-href="{{selectedCard | cardUrl:'type'}}">
                {{selectedCard.type}}
              </a>
            </div>
            <div ng-if="selectedCard.subtypes.length > 0" class="info-row">
              <label>Subtypes:</label>
              <span ng-repeat="subtype in selectedCard.subtypes">
                <a ng-href="{{selectedCard | cardUrl:'subtype':subtype}}">{{subtype}}</a><span ng-if="!$last"> - </span>
              </span>
            </div>
            <div class="info-row">
              <label>From:</label>
              <a ng-href="{{selectedCard | cardUrl:'set'}}">{{selectedCard.setname}}</a>
              <small ng-class="{ 'short-cards': isShortCard(selectedCard) }">
                <span ng-if="isShortCard(selectedCard)">only</span>
                {{selectedCard.quantity}} in set
              </small>
            </div>

            <ul class="links">
              <!-- Reddit cards of the day -->
              <li ng-repeat="cotd in selectedCard.reddit_cotds track by cotd.id">
                <a ng-href="{{cotd.url}}" target="reddit">
                  <i class="icon-cotd"></i> Card of the Day ({{cotd.created|date}})
                </a>
              </li>
              <li>
                <a ng-href="{{selectedCard.cgdb_url}}#commentsStart" target="cgdb">
                  <i class="icon-link-ext"></i> Comments on CardGameDB
                </a>
              </li>
              <li>
                <a ng-href="{{selectedCard.nrdb_url}}" target="nrdb">
                  <i class="icon-link-strength"></i> View on NetrunnerDB
                </a>
              </li>
            </ul>
          </div>
          <div class="cost-to-break" ng-switch-when="true"
               style="padding-right: 9px;">
            <h3>{{costToBreakInfo.opponentType}}</h3>
            <ul class="opponents list-unstyled">
              <li ng-repeat="opponent in costToBreakInfo.opponents"
                  class="opponent"
                  ng-class="{
                    'not-broken': !opponent.interaction.broken
                  }">
                <div class="card">
                  <a ng-href="{{opponent.card | cardUrl:'card'}}">{{opponent.card.title}}</a>
                </div>
                <div class="cost">
                  {{ opponent.interaction.broken ? opponent.interaction.creditsSpent : '⃠' }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-count">
        <span class="current">{{queryResult.cardOrdinal(selectedCard) + 1}}</span>
        of
        <span class="total">{{queryResult.length}}</span>
      </div>
    </div>
  </div>

  <!-- HEADERS -->
  <h2 ng-repeat="(id, group) in queryResult.groups track by id"
      grid-id="{{group.id}}"
      class="{{group.id}} grid-header invisible"
      title="{{group.id}}">
    <small class="card-count"><ng-pluralize
        count="group.cards.length"
        when="{
          '1': '1 card',
          'other': '{} cards'
        }"></ng-pluralize>
    </small>
    {{group.title|primaryGroupTitle:filter.groupings}}
    <small class="secondary-group">{{group.title|secondaryGroupTitle:filter.groupings}}</small>
  </h2>

  <!--
    CARDS

    Note:
    For performance reasons, this template is bound once, with all the cards, then never touched
    again. All sorting and show/hide logic for cards exists in the nr-cards-view directive.
  -->
  <div ng-repeat="card in cards track by card.id"
       bindonce
       class="grid-item"
       ng-click="selectCard(card)"
       bo-title="card.title"
       bo-attr-grid-id="card.id"
       bo-attr>
    <img bo-src="card.imagesrc" width="300" height="418">
    <div class="background"></div>
  </div>
</cards-view>
