<div class="decks">
  <h2 class="grid-header">
    Corporation Decks
    <small class="element-count"><ng-pluralize
        count="group.cards.length"
        when="{
          '1': '1 deck',
          'other': '{} decks'
        }"></ng-pluralize>
    </small>
  </h2>

  <h2 class="grid-header">
    Runner Decks
    <small class="element-count"><ng-pluralize
        count="group.cards.length"
        when="{
          '1': '1 deck',
          'other': '{} decks'
        }"></ng-pluralize>
    </small>
  </h2>
</div>
