<!--
NOTES:
* If deck building, in-faction-only option
-->

<div ng-controller="FiltersCtrl"
     ui-keydown="{
       'enter': 'clearFocus()'
     }"
     class="form form-horizontal">

  <div class="filter-group {{ group.name }}"
       ng-repeat="group in filterUI"
       ng-class="{ active: isActiveGroup(group, filter.activeGroup) }"
       ng-show="isGroupShown(group, filter.side)">

    <h5 ng-click="toggleGroup(group.name)">
      <span class="unabridged">{{ group.display }}</span>
      <i class="abbreviated icon-{{ group.icon }}"></i>
    </h5>

    <div class="filter-group-fields">
      <div class="filter-group-field {{ field.name }} form-group"
           ng-repeat="field in group.fieldFilters"
           ng-class="{ disabled: isFieldDisabled(field, group, filter.activeGroup, filter.side) }"
           ng-show="isFieldShown(field, group, filter.activeGroup, filter.side)">

        <label for="{{ labelledFieldId(field) }}" class="control-label">
          <i class="icon-{{ field.icon }}"></i>
        </label>

        <div ng-switch on="field.type">
          <div ng-switch-when="search">
            <input type="search"
                   id="{{ field.name }}-filter"
                   class="form-control input-sm"
                   ng-class="{
                     'has-input': fieldHasInput(filter.search)
                   }"
                   placeholder="{{ field.placeholder }}"
                   ng-model="filter.search"
                   filter-input>
            <a class="clear-filter"
               ng-click="filter.search = ''">&times;</a>
          </div>

          <div ng-switch-when="faction">
            <div class="faction-filter btn-group"
                 ng-class="{
                   'has-input': factionSelected
                 }">
              <button
                  class="btn btn-default btn-sm"
                  ng-repeat="faction in field.sideFactions[filter.side.toLowerCase()]"
                  ng-model="filter.fieldFilters.faction[faction.model]"
                  ui-all-or-one-box="filter.fieldFilters.faction"
                  ui-all-or-one-box-field="{{ faction.model }}"
                  title="{{ faction.name }}">
                {{ faction.abbr }}
              </button>
            </div>
            <a class="clear-filter"
               ng-click="clearFactions()">&times;</a>
          </div>

          <div ng-switch-when="numeric">
            <numeric-filter
              id="{{ field.name }}-filter"
              ng-class="{
                'has-input': fieldHasInput(filter.fieldFilters[field.name].value)
              }"
              filter-attr="filter.fieldFilters[field.name]"
              placeholder="{{ field.placeholder }}"
              max="{{ field.max }}"
              ui-disabled="{{ isFieldDisabled(field, group, filter.activeGroup, filter.side) }}"
              filter-input>
            </numeric-filter>
            <a class="clear-filter"
               ng-click="filter.fieldFilters[field.name].value = null">&times;</a>
          </div>

          <div ng-switch-when="inSet">
            <inset-filter
              id="{{ field.name }}-filter"
              ng-class="{
                'has-input': fieldHasInput(filter.fieldFilters[field.name])
              }"
              placeholder="{{ field.placeholder }}"
              ng-model="filter.fieldFilters[field.name]"
              inset-filter-source="this[field.source]"
              filter-input>
            </inset-filter>
            <a class="clear-filter"
               ng-click="filter.fieldFilters[field.name] = null">&times;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside ng-if="filter.side == null">
    For additional filter options, please select
    <a href="/cards/corp">Corporation</a> or <a href="/cards/runner">Runner</a>
  </aside>
</div>
