<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div>
    <div class="navbar-header">
      <span class="navbar-brand">Ono-Sendai</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Card Browser</a></li>
      <li><a href="#">Deck Builder</a></li>
    </ul>
    <!--form class="navbar-form navbar-left">
      <label class="radio-inline">
        <input type="radio" name="side" ng-model="filter.side" value="Corp"> Corp
      </label>
      <label class="radio-inline">
        <input type="radio" name="side" ng-model="filter.side" value="Runner"> Runner
      </label>
      <div class="form-group" style="visibility: hidden; width: 1px">
        <input type="text" class="form-control">
      </div>
    </form-->
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="filter.search">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a href="#">Advanced Filter</a></li>
    </div>
  </div>
</nav>

<div class="cards">
  <div ng-repeat="group in cards" style="clear:both">
    <h2 class="group-title">{{group.title}} <small>{{group.cards[0].side}}</small></h2>
    <div ng-repeat="subgroup in group.cards" style="clear: both">
      <h3 class="group-title">
        {{subgroup.title}}
        <small>(<ng-pluralize
            count="subgroup.cards.length"
            when="{
              '1': '1 card',
              'other': '{} cards'
            }"></ng-pluralize>)
        </small>
      </h3>
      <ul class="list-unstyled">
        <li ng-repeat="card in subgroup.cards">
          <card>
            <img bn-lazy-src="{{card.imagesrc}}" class="card-graphic" alt="{{card.title}}">
          </card>
        </li>
      </ul>
    </div>
  </div>
</div>
