<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div>
    <div class="navbar-header">
      <span class="navbar-brand" href="#">Ono-Sendai</span>
    </div>
    <form class="navbar-form navbar-left">
      <label class="radio-inline">
        <input type="radio" name="side" ng-model="filter.side" value="Corp"> Corp
      </label>
      <label class="radio-inline">
        <input type="radio" name="side" ng-model="filter.side" value="Runner"> Runner
      </label>
      <div class="form-group" style="visibility: hidden">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <!--form class="navbar-form">
      <p class="navbar-text">Side:</p>
      <label class="radio-inline">
        <input type="radio" name="side" ng-model="filter.side" value="Corp"> Corp
      </label>
      <label class="radio-inline">
        <input type="radio" name="side" ng-model="filter.side" value="Runner"> Runner
      </label>
    </form-->
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="filter.search">
      </div>
    </form>
  </div>
</nav>

  <div class="cards">
    <ul class="list-unstyled">
      <li ng-repeat="card in allCards | cardFilter:filter.side:filter.search">
        <img bn-lazy-src="{{card.imagesrc}}" width="184" height="265" class="card">
      </li>
    </ul>
  </div>
</div>
